<constraint-mapping xmlns="http://symfony.com/schema/dic/constraint-mapping"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://symfony.com/schema/dic/constraint-mapping
        https://symfony.com/schema/dic/constraint-mapping/constraint-mapping-1.0.xsd">

    <class name="App\Entity\ContextEntity">
        <constraint name="Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity">
            <option name="fields">
                <value>site</value>
                <value>num</value>
            </option>
            <option name="errorPath">num</option>
            <option name="message">Duplicate context number year for this site: {{ value }}</option>
        </constraint>
        <property name="type">
            <constraint name="Length">
                <option name="min">1</option>
                <option name="max">1</option>
                <option name="exactMessage">
                    Context type must be exactly {{ limit }} character long
                </option>
            </constraint>
        </property>
        <property name="cType">
            <constraint name="Type">
                <option name="type">integer</option>
            </constraint>
        </property>
        <property name="num">
            <constraint name="NotBlank"/>
            <constraint name="Type">
                <option name="type">integer</option>
            </constraint>
        </property>
    </class>
</constraint-mapping>
